.toggleButton {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255, .1);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleButton:hover {
  background-color: rgb(255, 255, 255, .9);
}


.sunButton {
  border: 2px solid #fbbf24;
}

.moonButton {
  border: 2px solid #60a5fa;
  background-color: rgb(255, 255, 255, .1);
}

.moonButton:hover {
  background-color: #1e3a8a;
}

.toggleButton:focus {
  outline: none;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}
